body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    text-align: center;
}

.container {
    position: relative;
    padding: 3em;
    text-align: center;
}

.taula {
    margin: auto, auto;
    text-align: center;
    line-height: 1rem;
}

th, td {
    border: 1px solid white;
}

.row {
    padding: 1em;
}

div #tetris, 
div #pesaActual, 
div #pesaSeguent {
    font-family: 'Major Mono Display', monospace;
}

div .pesaActual {
    display: none;
}

.final {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 1;
    color: red;
    font-family: 'VT323', monospace;
    letter-spacing: 0.5rem;
    font-size: 5rem;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

