body {
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
}

#tetris {
    position: relative;
    padding: 3em;
    text-align: center;
}

.taula {
    border: 1px solid black;
    margin: auto, auto;
    text-align: center;
}

th, td {
    border: 1px solid black;
}


